{%- assign website_url = '/' | absolute_url -%}
{%- assign website_id = website_url | append: '#website' -%}
{%- assign webpage_id = website_url | append: '#webpage' -%}
{%- assign author_url = site.author.home | default: '/about/' | absolute_url -%}
{%- assign author_id = author_url | append: '#person' -%}
{%- assign homepage_description = page.description | default: site.description | markdownify | strip_html | strip_newlines | strip -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": {{ website_id | jsonify }},
      "url": {{ website_url | jsonify }},
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | jsonify }},
      "inLanguage": {{ site.locale | default: 'ko-KR' | jsonify }},
      "publisher": { "@id": {{ author_id | jsonify }} }{% if site.og_image %},
      "image": {{ site.og_image | absolute_url | jsonify }}{% endif %}
    },
    {
      "@type": ["CollectionPage", "Blog"],
      "@id": {{ webpage_id | jsonify }},
      "url": {{ website_url | jsonify }},
      "name": {{ site.title | jsonify }},
      "description": {{ homepage_description | jsonify }},
      "inLanguage": {{ site.locale | default: 'ko-KR' | jsonify }},
      "isPartOf": { "@id": {{ website_id | jsonify }} },
      "publisher": { "@id": {{ author_id | jsonify }} }
    },
    {
      "@type": "Person",
      "@id": {{ author_id | jsonify }},
      "name": {{ site.author.name | default: site.name | jsonify }},
      "url": {{ author_url | jsonify }}{% if site.author.alternate_name %},
      "alternateName": {{ site.author.alternate_name | jsonify }}{% endif %}{% if site.author.bio %},
      "description": {{ site.author.bio | jsonify }}{% endif %}{% if site.author.job_title %},
      "jobTitle": {{ site.author.job_title | jsonify }}{% endif %}{% if site.author.knows_about %},
      "knowsAbout": {{ site.author.knows_about | jsonify }}{% endif %}{% if site.social.links %},
      "sameAs": {{ site.social.links | jsonify }}{% endif %}
    }
  ]
}
</script>
